/* font-family: 'Bakbak One', cursive;
font-family: 'Roboto', sans-serif; */



body {
    margin: 0;
    padding: 0;
    background-color: rgb(88, 84, 84);
    display: flex;
}

/***************HEADER***************/

header {
    background-color: rgba(37, 36, 36, 0.5);
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100vh;
    text-align: center;
    margin-left: 0;
    font-family: 'Bakbak One', cursive;
    box-shadow: 10px 0 5px black ;


}

.header__logo {
    margin-bottom: 5%;

}

.header__logo:hover {
    animation: wobble 1s ease infinite;
}

.header__title {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 5%;
}

.header__navbar {}

.header__navbar__list {
    margin-top: 5%;
    font-size: 2rem;

}

.header__navbar__list-item {
    color: white;
    list-style: none;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 10% 3%;

}

.header__navbar__list-item-link{
    text-decoration: none;
    color: white;
    padding: 8% 30%;

}

.header__navbar__list-item-link:hover{
    background-color: rgba(88, 84, 84, 0.5);
}


/***************MAIN***************/

main{
    font-family: 'Roboto', sans-serif;
    margin: 2% 2%;

}

.main__title{
    font-size: 3rem;
}



/* ANIMATION */

@keyframes wobble {

    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-10px) rotate(-15deg);
        transform: translateX(-10px) rotate(-15deg);
    }

    30% {
        -webkit-transform: translateX(calc(10px / 2)) rotate(15deg);
        transform: translateX(calc(10px / 2)) rotate(15deg);
    }

    45% {
        -webkit-transform: translateX(calc(-10px / 2)) rotate(calc(-15deg / 1.8));
        transform: translateX(calc(-10px / 2)) rotate(calc(-15deg / 1.8));
    }

    60% {
        -webkit-transform: translateX(calc(10px / 3.3)) rotate(calc(15deg / 3));
        transform: translateX(calc(10px / 3.3)) rotate(calc(15deg / 3));
    }

    75% {
        -webkit-transform: translateX(calc(-10px / 5.5)) rotate(calc(-15deg / 5));
        transform: translateX(calc(-10px / 5.5)) rotate(calc(-15deg / 5));
    }
}